body{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  background-color: #fff;
}

.header{
  margin: 40px;
  color: white;
}

#userInput{
  margin-top: 20px;
  width: 50%;
  height: 35px;
  display: inline-block;
}

.btn{
  margin: 20px 5px;

}

.form-control{
  margin: 0 auto;
  color: black;
}

.bod{
  background-color: #555557;
  border-radius: 5px;
  text-align: center;
  width: 50%;
  margin-left: 25%;

}

#list{
  color: white;
}

@media (max-width: 500px) {
  .bod{
    width: 80%;
    margin-left: 10%;
  }
  .tasks{
    margin-left: 0;
    text-align: center;
    margin-top: 5px;
  }
  #userInput{
    width: 90%;
    margin-left: 0;
  }
}
